<h1>Checkout</h1>
<table>
  <tbody>
    <% subtotal = 0 %>
    <% @cart.each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <tr>
        <td><%= product.name %></td>
        <td>
          <%= quantity %>
        </td>
        <td>
          <%= number_to_currency(product.price * quantity) %>
        </td>
      </tr>
      <% subtotal += product.price * quantity %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <td>Subtotal:</td>
      <td><%= number_to_currency(subtotal) %></td>
    </tr>
    <% if current_user %>
      <% province = Province.find(current_user.province_id) %>
      <tr>
        <td colspan="2"></td>
          <% if province.gst > 0 %>
          <td>GST: </td>
            <td><%= number_to_currency(subtotal * province.gst) %></td>
          <% end %>
          <% if province.hst > 0 %>
            <td>HST: </td><td><%= number_to_currency(subtotal * province.hst) %></td>
          <% end %>
          <% if province.pst > 0 %>
            <td>PST: </td><td><%= number_to_currency(subtotal * province.pst) %></td>
          <% end %>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Total:</td>
        <td><%= number_to_currency(subtotal + (subtotal * province.gst) + (subtotal * province.hst) + (subtotal * province.pst)) %></td>
      </tr>
    <% end %>
  </tfoot>
</table>