<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<% if current_user && current_user.admin? %>
<%= link_to "New product", new_product_path %>
<br><br>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= paginate @products %>


