<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<% if current_user && current_user.admin? %>
<%= link_to "New product", new_product_path %>
<br><br>
<% end %>

<div id="products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p><%= product.image %></p>
            <p>
              <% if product.sale %>
                <strong>On Sale!</strong>
              <% end %>
            </p>
            <% if product.categories.any? %>
            <p>
              <%# product categories %>
              Category:
              <% product.categories.each do |category| %>
                <%= link_to category.name, category %>
              <% end %>
            </p>
            <% end %>
            <p>
              <%= link_to "Show this product", product %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @products %>


