<p style="color: green"><%= notice %></p>

<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p><%= @product.image %></p>
<p>
  <% if @product.sale %>
    <strong>On Sale!</strong>
  <% end %>
</p>
<p>
  <%# price %>
  Price: <%= number_to_currency @product.price %>
</p>

<%# if product has category %>
<% if @product.categories.any? %>
  <p>
    <%# product categories %>
    Category: <% @product.categories.each do |category| %>
      <%= link_to category.name, category %>
    <% end %>
  </p>
<% end %>

  <%= form_tag add_to_cart_path(@product), method: :post do %>
    <%= submit_tag 'Add to Cart' %>
  <% end %>

<div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit this product", edit_product_path(@product) %>
    <%= button_to "Destroy this product", @product, method: :delete %>
  <% end %>
  <%= link_to "Back to products", products_path %>


</div>
