<!DOCTYPE html>
<html>
  <head>
    <title>EhBikesECommerceDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="user_nav">
<h1><%= link_to "Eh-Bikes E-Commerce Demo", root_path %></h1>
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
    <% if current_user && current_user.admin? %>
        <%= link_to "Edit About Page", edit_about_page_path(AboutPage.first) %>
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <footer>
  <a href="<%= about_page_path %>">About</a>
</footer>
</html>
